<!DOCTYPE HTML>

<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title><%= title %></title>

    <script type="text/javascript" src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/socket.io.js"></script>
    <script type="text/javascript" src="/js/sails.io.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    <script type="text/javascript" src="/js/soundmanager2.js"></script>

    <script src="/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/js/jquery.ui.touch-punch.min.js"></script>
    <script src="/js/bootstrap-select.js"></script>
    <script src="/js/bootstrap-switch.js"></script>
    <script src="/js/flatui-checkbox.js"></script>
    <script src="/js/flatui-radio.js"></script>
    <script src="/js/jquery.tagsinput.js"></script>
    <script src="/js/jquery.placeholder.js"></script>
    <script src="/js/jquery.stacktable.js"></script>

    <script src="/js/intro.js"></script>

	<link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/css/flat-ui.css" rel="stylesheet">
    <link href="/css/introjs.css" rel="stylesheet">

    <style type="text/css">
        body {
            background: #eee;
        }

        .colorRed {
            color: #e74c3c;
        }

        .colorGreen {
            color: #2ECC71;
        }

        .progress {
            border:1px solid white;
            height:45px;
        }

        #regolamentoButton, #question {
            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -o-user-select: none;
        }

        #tutorial, #emailBox, #bestBox, #dailyTry, #quitButton {
            width: 500px;
            height: 70px;
            text-align: center;
            vertical-align: middle;
            display: table-cell;
        }

        #emailBox, #bestBox, #dailyTry, #rules, #answer1, #answer2 {
            background-color: #bbb;
        }

        #question, #regolamentoButton {
            height:100px;
        }

        #regolamentoButton {
            width: 580px;
            text-align: center;
            vertical-align: middle;
            display: table-cell;
        }

        #rules {
            height: 700px;
            width: 500px;
            text-align: center;
            vertical-align: middle;
            display: table-cell;
        }

        #question {
            font-family: "Lato", sans-serif;
            font-size: 30px;
            line-height:1;

            width:2000px;
            text-align: center;
            vertical-align: middle;
            display: table-cell;
            opacity: 1;

            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -o-user-select: none;
        }

        #answer1, #answer2 {
            font-family: "Lato", sans-serif;
            font-size: 50px;
            line-height:1;

            height: 580px;
            width:2000px;
            text-align: center;
            vertical-align: middle;
            display: table-cell;

            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -o-user-select: none;
        }

        #answer1, #answer2, #tutorial, #quitButton {
            background-color: #f76c5c;
            border: 1px solid gray;
            box-shadow: 3px 3px 3px #aaa;
            opacity: 1;
        }

        #difficultyLevel {
            height: 70px;
            text-align: center;
        }

        #level1, #level2, #level3 {
            width: 80px;
            margin-top: 0px;
            padding: 0px;
            display: inline-block;
        }

        #level1 {
            height: 20px;
            line-height: 20px;
        }

        #level2 {
            height: 45px;
            line-height: 45px;
        }

        #level3 {
            height: 70px;
            line-height: 70px;
        }

        .introjs-tooltip {
            max-width: 350px;
            width: 350px;
            text-align:center;
            font-size: 20px;
        }

        .introjs-skipbutton, .introjs-prevbutton, .introjs-nextbutton {
             font-size:20px;
             height:30px;
             width: 70px;
             line-height:30px;

             text-align:center;
             vertical-align: middle;
        }

        .introjs-skipbutton {
            margin-right: 30px;
        }

        .modal {
            width: 1225px;
            margin-left: -600px;
        }

        .modal-body {
            width:1200px;
            height:600px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .modal-inline, modal-inline-center {
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .modal-inline {
            width:200px;
            height:600px;
            display: table-cell;
            position: relative;
        }

        .photo {
            position: absolute;
            bottom: 0;
        }

        .modal-inline-center {
            padding: 30px;
            width: 800px;
            height:600px;
            text-align:center;

            vertical-align: middle;
            display: table-cell;
        }
    </style>
</head>

<body>
    <div class="container-fluid" style="margin-top:35px;">
        <div class="row-fluid">
            <div class="span2">
                <div class="row-fluid" style="margin-bottom: 15px;" data-step="1" data-position="right" data-intro="<%= res.i18n({phrase: 'quiz_tutorial_step1', locale: lang}) %>">
                    <a id="tutorial" class="btn btn-large btn-block btn-primary" onclick="javascript:startTutorial();"><%= res.i18n({phrase: 'quiz_tutorial', locale: lang}) %></a>
                </div>

                <div class="row-fluid" style="margin-bottom: 5px;">
                    <a class="btn btn-large btn-block btn-primary" id="emailBox">
                        <%= res.i18n({phrase: 'quiz_email', locale: lang}) %>
                        <span id="email"><%= " " + (gamer.email).substr(0, (gamer.email).indexOf('@'))%></span>
                    </a>
                </div>

                <div class="row-fluid" style="margin-bottom: 5px;">
                    <a class="btn btn-large btn-block btn-primary" id="emailBox">
                        <%= res.i18n({phrase: 'quiz_best', locale: lang}) %>
                        <span id="best"><%= " " + gamer.best%></span>
                    </a>
                </div>

                <div class="row-fluid" style="margin-bottom: 13px;">
                    <a class="btn btn-large btn-block btn-primary" id="dailyTry">
                        <% if(lottery.attempt <= 3) { %>
                            <%= res.i18n({phrase: 'quiz_dailyTry', locale: lang}) %>
                            <span id="daily"><%= lottery.attempt %> /3</span>
                        <% } else { %>
                            <%= res.i18n({phrase: 'quiz_dailyTryExpired', locale: lang}) %>
                        <% } %>
                    </a>
                </div>

                <div class="row-fluid">
                    <div class="row-fluid" style="margin-bottom: 20px;" data-step="7" data-position="right" data-intro="<%= res.i18n({phrase: 'quiz_tutorial_step7', locale: lang}) %>">
                        <a class="btn btn-large btn-block btn-primary" id="rules" style="text-align:center">
                            <div style="margin-bottom:15px;"><%= res.i18n({phrase: 'quiz_rules1', locale: lang}) %></div>
                            <div style="margin-bottom:15px;"><%= res.i18n({phrase: 'quiz_rules2', locale: lang}) %></div>
                            <div style="margin-bottom:15px;"><%= res.i18n({phrase: 'quiz_cat1', locale: lang}) %></div>
                            <div style="margin-bottom:15px;"><%= res.i18n({phrase: 'quiz_cat2', locale: lang}) %></div>
                            <div style="margin-bottom:15px;"><%= res.i18n({phrase: 'quiz_cat3', locale: lang}) %></div>
                            <div style="margin-bottom:15px;"><%= res.i18n({phrase: 'quiz_rules3', locale: lang}) %></div>
                            <div style="margin-bottom:15px;"><%= res.i18n({phrase: 'quiz_rules4', locale: lang}) %></div>
                            <div><%= res.i18n({phrase: 'quiz_rules5', locale: lang}) %></div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="span10">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="progress" data-step="2" data-position="bottom" data-intro="<%= res.i18n({phrase: 'quiz_tutorial_step2', locale: lang}) %>">
                            <div id="p1ShowBar" class="bar bar-success" style="line-height: 40px;font-size:140%; width: 33.33333333333333%;"> <span style="font-size:110%"><%= res.i18n({phrase: 'quiz_prize1', locale: lang}) %></span></div>
                            <div id="p2ShowBar" class="bar bar-success" style="line-height: 40px;font-size:140%; width: 33.33333333333333%;border-right:1px solid white; border-left:1px solid white"></span><span style="font-size:110%"><%= res.i18n({phrase: 'quiz_prize2', locale: lang}) %></span></div>
                            <div id="p3ShowBar" class="bar bar-success" style="line-height: 40px;font-size:140%; width: 33.33333333333333%;"><span style="font-size:110%"><%= res.i18n({phrase: 'quiz_prize3', locale: lang}) %></span></div>
                       </div>
                    </div>
                </div>

                <div class="row-fluid" style="margin-bottom: 20px;">
                    <div class="span12">
                        <div class="progress" data-step="3" data-position="bottom" data-intro="<%= res.i18n({phrase: 'quiz_tutorial_step3', locale: lang}) %>">
                            <div id="score10" class="bar bar-success" style="background-color: #2ECC71; width: 0%;"></div>
                            <div id="score20" class="bar bar-success" style="background-color: #F1C40F; width: 0%;"></div>
                            <div id="score30" class="bar bar-success" style="background-color: #E67E22; width: 0%;"></div>
                        </div>
                    </div>
                </div>

                <div class="row-fluid">
                   <div class="span12" style="text-align:center;">
                        <h4 style="display:inline"><%= res.i18n({phrase: 'quiz_questionNumber', locale: lang}) %></h4> <h4 style="display:inline" id="questionNumber"></h4>
                   </div>
                </div>

                <div class="row-fluid">
                    <div class="span6">
                         <div class="row-fluid">
                            <div class="span12" style="text-align:center;">
                                <h4><%= res.i18n({phrase: 'quiz_difficulty', locale: lang}) %></h4>
                            </div>
                         </div>

                         <div class="row-fluid" style="margin-bottom:30px" data-step="4" data-position="bottom" data-intro="<%= res.i18n({phrase: 'quiz_tutorial_step4', locale: lang}) %>">
                             <div class="span12">
                                 <div id="difficultyLevel">
                                     <a id="level1" class="btn btn-large btn-block btn-primary">1</a>
                                     <a id="level2" class="btn btn-large btn-block btn-primary">2</a>
                                     <a id="level3" class="btn btn-large btn-block btn-primary">3</a>
                                 </div>
                             </div>
                         </div>
                    </div>

                    <div class="span6">
                        <div class="row-fluid" style="margin-top:30px" onclick="read()">
                            <div class="span12" style="text-align:center; color: #bdc3c7">
                                <h1><span class="fui-volume" style="font-size:50px; color:black;"></span></h1>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row-fluid" style="margin-bottom: 20px;" data-step="5" data-position="top" data-intro="<%= res.i18n({phrase: 'quiz_tutorial_step5', locale: lang}) %>">
                    <div class="span12">
                        <a class="btn btn-large btn-block btn-primary" id="question"></a>
                    </div>
                </div>

                <div class="row-fluid" style="margin-bottom: 20px;" data-step="6" data-position="top" data-intro="<%= res.i18n({phrase: 'quiz_tutorial_step6', locale: lang}) %>">
                    <div class="span6">
                        <a class="btn btn-large btn-block btn-primary" id="answer1" ></a>
                    </div>

                    <div class="span6">
                        <a class="btn btn-large btn-block btn-primary" id="answer2" ></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="p1Modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h1 class="colorGreen"><%=  res.i18n({phrase: 'quiz_modalCongrats', locale: lang}) %></h1>
            </div>
        <div class="modal-body">
            <div class="modal-inline">

            </div>
            <div class="modal-inline-center">
                <p style="font-size:300%; margin-bottom:30px;"><%=  res.i18n({phrase: 'quiz_modal1', locale: lang}) %></p>
                <p style="font-size:300%; margin-bottom:30px;"><%=  res.i18n({phrase: 'quiz_modalEmail', locale: lang}) %></p>
                <p style="font-size:300%;"><%=  res.i18n({phrase: 'quiz_modalReminder1', locale: lang}) %></p>
            </div>
            <div class="modal-inline">

            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-primary" data-dismiss="modal" aria-hidden="true" style="background-color:#2ECC71;">Chiudi</a>
        </div>
    </div>

    <div id="p2Modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h1 class="colorGreen"><%=  res.i18n({phrase: 'quiz_modalCongrats', locale: lang}) %></h1>
            </div>
        <div class="modal-body">
            <div class="modal-inline">

            </div>
            <div class="modal-inline-center">
                <p style="font-size:300%; margin-bottom:30px;"><%=  res.i18n({phrase: 'quiz_modal2', locale: lang}) %></p>
                <p style="font-size:300%; margin-bottom:30px;"><%=  res.i18n({phrase: 'quiz_modalEmail', locale: lang}) %></p>
                <p style="font-size:300%;"><%=  res.i18n({phrase: 'quiz_modalReminder3', locale: lang}) %></p>
            </div>
            <div class="modal-inline">

            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-primary" data-dismiss="modal" aria-hidden="true" style="background-color:#2ECC71;">Chiudi</a>
        </div>
    </div>

    <div id="p3Modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h1 class="colorGreen"><%=  res.i18n({phrase: 'quiz_victory', locale: lang}) %></h1>
            </div>
        <div class="modal-body">
            <div class="modal-inline">

            </div>
            <div class="modal-inline-center">
                <p style="font-size:300%; margin-bottom:30px;"><%=  res.i18n({phrase: 'quiz_modal3', locale: lang}) %></p>
                <p style="font-size:300%; margin-bottom:30px;"><%=  res.i18n({phrase: 'quiz_modalEmail', locale: lang}) %></p>
                <p style="font-size:300%;"><%=  res.i18n({phrase: 'quiz_modalReminder3', locale: lang}) %></p>
            </div>
            <div class="modal-inline">

            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-primary" data-dismiss="modal" aria-hidden="true" style="background-color:#2ECC71;">Chiudi</a>
        </div>
    </div>

    <div id="moreTriesModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h1 class="colorRed"><%=  res.i18n({phrase: 'quiz_tooMany', locale: lang}) %></h1>
            </div>
        <div class="modal-body">
            <div class="modal-inline">
                <img class="photo" width="200px" src="/images/foto/a1.png"> </img>
            </div>
            <div class="modal-inline-center">
                <p style="font-size:300%; margin-bottom:30px;"><%=  res.i18n({phrase: 'quiz_modalTries1', locale: lang}) %></p>
                <p style="font-size:300%;"><%=  res.i18n({phrase: 'quiz_modalTries2', locale: lang}) %></p>
            </div>
            <div class="modal-inline">
                <img class="photo" width="200px" src="/images/foto/m1.png"> </img>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Chiudi</a>
        </div>
    </div>

    <div id="errorModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h1 class="colorRed"><%=  res.i18n({phrase: 'quiz_modalErrorTitle', locale: lang}) %></h1>
            </div>
        <div class="modal-body">
            <div class="modal-inline">

            </div>
            <div class="modal-inline-center">
                <p style="font-size:300%; margin-bottom:30px;"><%=  res.i18n({phrase: 'quiz_modalErrorContent1', locale: lang}) %></p>
                <p style="font-size:300%;"><%=  res.i18n({phrase: 'quiz_ModalErrorContent2', locale: lang}) %></p>
            </div>
            <div class="modal-inline">

            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Chiudi</a>
        </div>
    </div>

    <script>
        $(function() {
            introJs().setOptions({
                nextLabel: '<%=  res.i18n({phrase: 'button_next', locale: lang}) %>',
                prevLabel: '<%=  res.i18n({phrase: 'button_back', locale: lang}) %>',
                skipLabel: '<%=  res.i18n({phrase: 'button_skip', locale: lang}) %>',
                doneLabel: '<%=  res.i18n({phrase: 'button_end', locale: lang}) %>'
            })

            $('#errorModal').on('hide', function () {
                window.location = "<%= address %>"
            })

            $('#p3Modal').on('hide', function () {
                window.location = "<%= address %>"
            })

            if (<%= gamer[today].lottery1 %>) {
                $('#p1ShowBar').css('background-color', '#9b59b6')
            }

            if (<%= gamer.prize1 %>) {
                $('#p1ShowBar').css('background-color', '#3498db')
            }

            if (<%= gamer[today].lottery2 %>) {
                $('#p2ShowBar').css('background-color', '#9b59b6')
            }

            if (<%= gamer.prize2 %>) {
                $('#p2ShowBar').css('background-color', '#3498db')
            }

            if (<%= gamer[today].lottery3 %>) {
                $('#p3ShowBar').css('background-color', '#9b59b6')
            }

            if (<%= gamer.prize3 %>) {
                $('#p3ShowBar').css('background-color', '#3498db')
            }

            $(this).bind("contextmenu", function(e) {
                e.preventDefault();
            });

            soundManager.setup({
              url: '/swf/',
              preferFlash: false,
              onready: function() {
                console.log('Sound manager ready')
              }
            });

            if(attempt > 3) {
                forFun = true;
            }

            loadQuestion()

            if(firstTime) {
                introJs().setOptions({
                    nextLabel: '<%=  res.i18n({phrase: 'button_next', locale: lang}) %>',
                    prevLabel: '<%=  res.i18n({phrase: 'button_back', locale: lang}) %>',
                    skipLabel: '<%=  res.i18n({phrase: 'button_skip', locale: lang}) %>',
                    doneLabel: '<%=  res.i18n({phrase: 'button_end', locale: lang}) %>'
                }).start()

                var update = {
                    id: idGamer,
                    firstLogin: false
                }

                socket.request('/gamer/update', update, function(res) {
                    //error
                })
            }

            $('#answer1').click(function () {
                checkQuestion(0)
            })

            $('#answer2').click(function () {
                checkQuestion(1)
            })

            if(attempt > 3) {
                $('#moreTriesModal').modal()
            }
        });

        var lang = "<%= lang %>"
        var voicerss = 'http://api.voicerss.org/?key=8972ea7e369f47059a7cd94813444b1e&hl=&src='

        var finished = false;
        var currentCorrect = 0;
        var questions = <%- JSON.stringify(questions)%>
        var gamer = <%- JSON.stringify(gamer) %>

        var today = "<%= today %>"
        var firstTime = <%= gamer.firstLogin %>
        var attempt = <%= lottery.attempt %>
        var prize1 = <%= gamer.prize1%>
        var lottery1 = <%= lottery.lottery1 %>
        var prize2 = <%= gamer.prize2%>
        var lottery1 = <%= lottery.lottery1 %>
        var prize3 = <%= gamer.prize3%>
        var lottery3 = <%= lottery.lottery1 %>
        var idGamer = <%= gamer.id%>
        var forFun = false
        var best = <%= " " + gamer.best%>
        var current = 0
        var max = <%= numberQuestions%>
        var step = 100 / max
        var incremental = 0

        var startTutorial = function() {
            introJs().setOptions({
                nextLabel: '<%=  res.i18n({phrase: 'button_next', locale: lang}) %>',
                prevLabel: '<%=  res.i18n({phrase: 'button_back', locale: lang}) %>',
                skipLabel: '<%=  res.i18n({phrase: 'button_skip', locale: lang}) %>',
                doneLabel: '<%=  res.i18n({phrase: 'button_end', locale: lang}) %>'
            }).start()
        }

        var read = function () {
            var languageCode = ""

            if(lang == 'it') {
                languageCode = "it-it"
            } else {

            }

            soundManager.createSound({id: 'question_' + incremental, url: 'http://api.voicerss.org/?key=8972ea7e369f47059a7cd94813444b1e&hl=' + languageCode + '&src=' +  $('#question').html() });
            soundManager.createSound({id: 'answer1_' + incremental, url: 'http://api.voicerss.org/?key=8972ea7e369f47059a7cd94813444b1e&hl=' + languageCode + '&src=' +  $('#answer1').html() });
            soundManager.createSound({id: 'answer2_' + incremental, url: 'http://api.voicerss.org/?key=8972ea7e369f47059a7cd94813444b1e&hl=' + languageCode + '&src=' +  $('#answer2').html() });

            soundManager.play('question_' + incremental,{
                multiShotEvents: true,
                onfinish: function() {
                    soundManager.play('answer1_' + incremental, {
                        multiShotEvents: true,
                        onfinish:function() {
                            soundManager.play('answer2_' + incremental, {
                                onfinish: function(){
                                    incremental++
                                }
                            })
                        }
                    })
                }
            });
        }

        var loadQuestion = function() {
            $("#questionNumber").html('&nbsp;' + (current + 1) + '/' + 30)
            $('#question').html(questions[current].question)

            var level = questions[current].level
            $('#level1').css('background-color', '#bbb')
            $('#level2').css('background-color', '#bbb')
            $('#level3').css('background-color', '#bbb')
            $('#level4').css('background-color', '#bbb')
            $('#level5').css('background-color', '#bbb')
            $('#level6').css('background-color', '#bbb')

            if(level >= 1)
                $('#level1').css('background-color', '#2ECC71')
            if(level >= 2)
                $('#level2').css('background-color', '#F1C40F')
            if(level >= 3)
                $('#level3').css('background-color', '#E67E22')

            currentCorrect =  Math.floor(Math.random()*2)
            if(currentCorrect == 0) {
                $('#answer1').html(questions[current].correct)
                $('#answer2').html(questions[current].wrong)
            } else {
                $('#answer1').html(questions[current].wrong)
                $('#answer2').html(questions[current].correct)
            }
        }

        var checkQuestion = function(button) {
            if(currentCorrect == button) {
                progressUpdate()
                if(current >= max) {
                    //TODO
                } else {
                    loadQuestion()
                }
            } else {
                $('#errorModal').modal()
            }
        }

        var add10 = function() {
            var size = current * step
            $('#score10').css('width', size + '%')
        }

        var add20 = function() {
            var size = (current - 10) * step
            $('#score20').css('width', size + '%')
        }

        var add30 = function() {
            var size = (current - 20) * step
            $('#score30').css('width', size + '%')
        }

        var progressUpdate = function() {
            if (!finished) {
                current++
                if(current == 30) {
                    finished = true
                }

                if(current <= max) {
                    if(current < 11) {
                        add10()
                    } else if(current < 21) {
                        add20()
                    } else {
                        add30()
                    }
                }

                if(!forFun) {
                    if (current == 10 && !prize1) {
                        socket.request('/ticket/create', {
                                prize: 1,
                                email: gamer.email
                            }, function(res) {})
                        var update = {
                            id: idGamer
                        }
                        gamer[today].lottery1 = true
                        update[today] = gamer[today]

                        console.log(update)

                        socket.request('/gamer/update', update, function(res) {})
                        $('#p1Modal').modal()
                        $('#p1ShowBar').css('background-color', '#9b59b6')
                    }

                    if (current == 20 && !prize2 ) {
                        socket.request('/ticket/create', {
                                prize: 2,
                                email: gamer.email
                            }, function(res) {})

                        var update = {
                            id: idGamer
                        }
                        gamer[today].lottery2 = true
                        update[today] = gamer[today]

                        socket.request('/gamer/update', update, function(res) {})
                        $('#p2Modal').modal()
                        $('#p2ShowBar').css('background-color', '#9b59b6')
                    }
                    if (current == 30 && !prize3) {
                        var update = {
                            id: idGamer
                        }

                        gamer[today].lottery3 = true
                        update[today] = gamer[today]

                        socket.request('/ticket/create', {
                                prize: 3,
                                email: gamer.email
                            }, function(res) {})

                        var update = {
                            id: idGamer
                        }
                        gamer[today].lottery3 = true
                        update[today] = gamer[today]

                        socket.request('/gamer/update', update, function(res) {})
                        $('#p3Modal').modal()
                        $('#p3ShowBar').css('background-color', '#9b59b6')
                    }

                    if(current > best) {
                        best = current
                        $('#best').html(best)
                    }

                    var update = {
                        id: idGamer,
                        best: best
                    }

                    socket.request('/gamer/update', update, function(res) {
                        //error
                    })
                }
            }
        }
   </script>

</body>
</html>