<!DOCTYPE HTML>

<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title><%= title %></title>

    <script type="text/javascript" src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/socket.io.js"></script>
    <script type="text/javascript" src="/js/sails.io.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>

    <script src="js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="js/jquery.ui.touch-punch.min.js"></script>
    <script src="js/bootstrap-select.js"></script>
    <script src="js/bootstrap-switch.js"></script>
    <script src="js/flatui-checkbox.js"></script>
    <script src="js/flatui-radio.js"></script>
    <script src="js/jquery.tagsinput.js"></script>
    <script src="js/jquery.placeholder.js"></script>
    <script src="js/jquery.stacktable.js"></script>

	<link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/css/flat-ui.css" rel="stylesheet">

    <style type="text/css">
        body {
            background: #eee;
        }

        .space {
            margin-top: 40px;
        }

        .centerButton {
            margin: 0 auto;
            width: 460px;
        }

        .colorRed {
            color: #e74c3c;
        }


        .progress {
            border:1px solid white;
            height:40px;
        }

        #prizebar {
            line-height: 40px;
        }

        .info1 {
            margin-top:10px;
            margin-left:10px;
        }

        .info2 {
            margin-left:10px;
        }

        .answerContainer {
            width:500px;
            height: 500px;
            text-align: center;
            display: table-cell;
            vertical-align: middle;
        }

        .answerh1 {
            width:500px;
            height: 500px;
            margin: 0 auto;
            text-color:red;
            text-align: center;
            display: table-cell;
            vertical-align: middle;
        }
    </style>
</head>

<body>
    <div class="container-fluid" style="margin-top:35px;">
        <div class="row-fluid">
            <div class="span2">
                 <div class="info1">
                    <%= res.i18n({phrase: 'quiz_email', locale: lang}) %> <span id="email"><%= " " + gamer.email%></span>
                </div>

                <div class="info2">
                    <%= res.i18n({phrase: 'quiz_best', locale: lang}) %> <span id="best"><%= " " + gamer.best%></span>
                </div>
            </div>

            <div class="span10">
                <div class="row-fluid">
                    <div class="progress">
                        <div class="bar bar-success" id="prizebar" style="font-size:140%; width: 33.33333333333333%;"> <span id="isPrize1" class="<%= (gamer.prize1)?"fui-check":"fui-cross" %>"></span><span style="font-size:110%"><%= res.i18n({phrase: 'quiz_prize1', locale: lang}) %></span></div>
                        <div class="bar bar-success" id="prizebar" style="font-size:140%; width: 33.33333333333333%;border-right:1px solid white; border-left:1px solid white"><span id="isPrize2" class="<%= (gamer.prize2)?"fui-check":"fui-cross" %>"></span><span style="font-size:110%"><%= res.i18n({phrase: 'quiz_prize2', locale: lang}) %></span></div>
                        <div class="bar bar-success" id="prizebar" style="font-size:140%; width: 33.33333333333333%;"><span id="isPrize3" class="<%= (gamer.prize3)?"fui-check":"fui-cross" %>"></span><span style="font-size:110%"><%= res.i18n({phrase: 'quiz_prize3', locale: lang}) %></span></div>
                   </div>
                </div>

                <div class="row-fluid">
                    <div class="progress">
                        <div id="score10" class="bar bar-warning" style="width: 0%;"></div>
                        <div id="score20" class="bar bar-danger" style="width: 0%;"></div>
                        <div id="score30" class="bar" style="width: 0%;"></div>
                    </div>
                </div>

                <div class="row-fluid">
                    <h1 id="question"></h1>
                </div>

                <div class="row-fluid">
                    <div class="span6">
                        <h1 class="answerh1" id="answer1"></h1>
                    </div>

                    <div class="span6">
                        <h1 class="answerh1" id="answer2"></h1>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span12" style="text-align:center;">
                        <h4><%= res.i18n({phrase: 'quiz_difficulty', locale: lang}) %></h4>
                    </div>
                    <div class="span12">
                        <div class="span1 offset3">
                            <a id="level1" href="#fakelink" class="btn btn-large btn-block btn-primary" style="height:20px;">&ensp;</a>
                        </div>
                        <div class="span1">
                            <a id="level2" href="#fakelink" class="btn btn-large btn-block btn-primary" style="height:50px;">&ensp;</a>
                        </div>
                        <div class="span1">
                            <a id="level3" href="#fakelink" class="btn btn-large btn-block btn-primary" style="height:80px;">&ensp;</a>
                        </div>
                        <div class="span1">
                            <a id="level4" href="#fakelink" class="btn btn-large btn-block btn-primary" style="height:110px;">&ensp;</a>
                        </div>
                        <div class="span1">
                            <a id="level5" href="#fakelink" class="btn btn-large btn-block btn-primary" style="height:140px;">&ensp;</a>
                        </div>
                        <div class="span1">
                            <a id="level6" href="#fakelink" class="btn btn-large btn-block btn-primary" style="height:170px;">&ensp;</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function() {
            loadQuestion()

            $('#answer1').click(function () {
                checkQuestion(0)
            })

            $('#answer2').click(function () {
                checkQuestion(1)
            })
        });

        var currentCorrect = 0;
        var questions = <%- JSON.stringify(questions)%>

        var prize1 = <%= gamer.prize1%>
        var prize2 = <%= gamer.prize2%>
        var prize3 = <%= gamer.prize3%>
        var idGamer = <%= gamer.id%>
        var forFun =  <%= forFun%>
        var best = <%= " " + gamer.best%>
        var current = 0
        var max = <%= numberQuestions%>
        var step = 100 / max

        var loadQuestion = function() {
            $('#question').html(questions[current].question)

            var level = questions[current].level
            $('#level1').css('background-color', '#ebedef')
            $('#level2').css('background-color', '#ebedef')
            $('#level3').css('background-color', '#ebedef')
            $('#level4').css('background-color', '#ebedef')
            $('#level5').css('background-color', '#ebedef')
            $('#level6').css('background-color', '#ebedef')

            if(level >= 1)
                $('#level1').css('background-color', '#2980B9')
            if(level >= 2)
                $('#level2').css('background-color', '#16A085')
            if(level >= 3)
                $('#level3').css('background-color', '#2ECC71')
            if(level >= 4)
                $('#level4').css('background-color', '#F1C40F')
            if(level >= 5)
                $('#level5').css('background-color', '#E67E22')
            if(level >= 6)
                $('#level6').css('background-color', '#E74C3C')

            currentCorrect =  Math.floor(Math.random()*2)
            if(currentCorrect == 0) {
                $('#answer1').html(questions[current].correct)
                $('#answer2').html(questions[current].wrong)
            } else {
                $('#answer1').html(questions[current].wrong)
                $('#answer2').html(questions[current].correct)
            }
        }

        var checkQuestion = function(button) {
            if(currentCorrect == button) {
                progressUpdate()
                if(current > max) {
                    //TODO
                } else {
                    loadQuestion()
                }
            } else {

            }
        }

        var add10 = function() {
            var size = current * step
            $('#score10').css('width', size + '%')
        }

        var add20 = function() {
            var size = (current - 10) * step
            $('#score20').css('width', size + '%')
        }

        var add30 = function() {
            var size = (current - 20) * step
            $('#score30').css('width', size + '%')
        }

        var progressUpdate = function() {
            current++
            if(current <= max) {
                if(current < 11) {
                    add10()
                } else if(current < 21) {
                    add20()
                } else {
                    add30()
                    if(current == 30) {
                        //TODO
                    }
                }
            }

            if(!forFun) {
                if(current >= 10 || prize1) {
                    prize1 = true
                    $('#isPrize1').removeClass('fui-check fui-cross').addClass('fui-check')
                }

                if(current >= 20 || prize2) {
                    prize2 = true
                    $('#isPrize2').removeClass('fui-check fui-cross').addClass('fui-check')
                }

                if(current >= 30 || prize3) {
                    prize3 = true
                    $('#isPrize3').removeClass('fui-check fui-cross').addClass('fui-check')
                }

                if(current > best) {
                    best = current
                    $('#best').html(best)
                }

                var update = {
                    id: idGamer,
                    prize1: prize1,
                    prize2: prize2,
                    prize3: prize3,
                    best: best
                }
                socket.request('/gamer/update', update, function(res) {

                })
            }
        }
   </script>

</body>
</html>